@model ReviewModel
           
<div class="reviews_i">
    <div class="reviews_i_info">
        <figure class="reviews_i_ava_outer fleft">
            <img src="@string.Format("data:image/jpg;base64,{0}",Model.Author.Icon)" alt="" class="reviews_i_ava">
        </figure>
        <div class="reviews_i_data">
            @if (Model.Created.HasValue)
            {
                <span class="rating_i_date fright">@Model.Created.Value.ToString("G")</span>
            }
            <div class="reviews_i_rating rating">
                <div class="rating_progress" style="width: @(Model.Rating * 20)%"></div>
            </div>
            <div class="reviews_i_author">
                <a href="#" class="reviews_i_author_name">@Model.Author.Name</a>
                <span class="reviews_i_author_about">@Model.Author.Description</span>
            </div>
        </div>
    </div>
    <div class="reviews_i_tx">
        @Model.ReviewText
    </div>
</div>
