@using VirtoCommerce.ApiClient.Extensions
@model FullExtension

@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/v/images.js")"></script>
}
@section styles
{
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/themes/default/css/images.css")">
}

<div class="bl transparent_bl">
    <div class="card fixw">

        <div class="del2 card_slider">
            <!-- images block -->
            <div class="item">
                <figure>
                    @if (Model.Extension.Images != null)
                    {
                        for (var i = 0; i < Model.Extension.Images.Count; i++)
                        {
                            var image = Model.Extension.Images[i];
                            <a rel="biggroup" href="@Url.Image(image)" data-image-id="@i" class="fancybox">
                                <img alt="" itemprop="image" src="@Url.Image(image)" onerror="this.onerror=null;this.src='@Href("~/Content/themes/default/images/blank.png")';">
                            </a>
                        }
                    }
                </figure>
            </div>
            <!-- Листалка -->
            <div class="list-items">
                <a class="prev"></a>
                <div class="scroll">
                    <ul class="clearfix">
                        @if (Model.Extension.Images != null)
                        {
                            for (var i = 0; i < Model.Extension.Images.Count; i++)
                            {
                                var image = Model.Extension.Images[i];

                                <li data-bigimage-id="@i">
                                    <a>
                                        <img alt="" itemprop="image" src="@Url.Image(image)">
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </div>
                <a class="next"></a>
            </div>
            <!-- / images block -->
        </div>
        <div class="del2 card_detail">
            <div class="card_detail_inner">
                <div class="del2 card_data">
                    <h2 class="card_t">@Model.Extension.Title</h2>
                    <div class="card_rating_outer">
                        <div class="card_rating rating">
                            <div class="rating_progress" style="width: @(Model.ReviewsAverage * 20)%"></div>
                        </div>
                        <div class="card_rating_num">@Model.ReviewsAverage</div>
                    </div>
                    @*<a href="#" class="items_a">read all 5 reviews</a>*@
                    <a href="#" class="items_a">write a review</a>
                    <article class="card_descr">
                        @Html.Raw(@Model.Extension.Description)
                    </article>
                    <div class="card_properties">
                        <div class="card_properties_i">
                            <span class="card_properties_i_name">Locale</span>
                            <span class="card_properties_i_value">@string.Join(", ", Model.Extension.Locale)</span>
                        </div>
                        <div class="card_properties_i">
                            <span class="card_properties_i_name">compatible with</span>
                            <span class="card_properties_i_value">@string.Join(", ", Model.Extension.Compatibility)</span>
                        </div>
                        @if (Model.Extension.HasRelease)
                        {
                            <div class="card_properties_i">
                                <span class="card_properties_i_name">last release</span>
                                <span class="card_properties_i_value">@string.Format("{0} from {1:d}", Model.Extension.LatestRelease.Version, Model.Extension.LatestRelease.ReleaseDate)</span>
                            </div>
                        }
                    </div>
                </div>
                @Html.DisplayFor(x => x.Extension.User, "Developer")
            </div>
            @Html.DisplayFor(x => x.Extension, "DownloadExtension")
        </div>
    </div>
</div>
<div class="transparent_bl bl">
    <div class="tabs fixw">
        <ul class="tabs_lst tabs_act_lst">
            <li class="tabs_i tabs_act_i">
                <a href="#overview" class="tabs_i_a tabs_act_a __active">Overview</a>
            </li>
            <li class="tabs_i tabs_act_i">
                <a href="#releases" class="tabs_i_a tabs_act_a">release notes</a>
            </li>
            <li class="tabs_i tabs_act_i">
                <a href="#reviews" class="tabs_i_a tabs_act_a">reviews</a>
            </li>
        </ul>
    </div>
</div>
<div class="neutral-lay bl">
    <div class="tabs_act_outer">
        <div class="slides fixw tabs_act_content" rel="overview">
            <div class="overview">
                @Html.Raw(Model.Extension.FullDescription)
            </div>
        </div>
        <div class="slides fixw tabs_act_content" rel="releases" style="display: none;">
            @if (@Model.Extension.HasRelease)
            {
                <div class="releases">
                    @foreach (var release in Model.Extension.Releases)
                    {
                        @Html.DisplayFor(x => release)
                    }
                </div>
            }
        </div>
        <div class="slides fixw tabs_act_content" rel="reviews" style="display: none;">
            <div class="reviews">
                <div class="reviews_rating del2">
                    <div class="card_rating_outer fright">
                        <div class="card_rating rating">
                            <div class="rating_progress" style="width: @(Model.ReviewsAverage * 20)%"></div>
                        </div>
                        <div class="card_rating_num">@Model.ReviewsAverage</div>
                    </div>
                    <h4 class="reviews_rating_t">Overall rating</h4>
                    @*We dont have field recommed y/n*@
                    @*<div class="reviews_rating_tx">10 out of 12 (86%) reviewers recommend this extension</div>*@
                    <a href="#" class="btn __block __radial __info reviews_add">write a review</a>
                </div>
                @Html.DisplayFor(x => x.Extension.User, "Developer", new { displayMode = "full" })
                <div class="reviews_lst">

                    @if (Model.Reviews != null)
                    {
                        foreach (var reviewModel in Model.Reviews)
                        {
                            @Html.DisplayFor(x => reviewModel)
                        }
                    }

                </div>
            </div>
        </div>
    </div>
</div>

